<body class="tasks-me-page">

<h1 id='task-header'><strong class="my-task-header">My Tasks</strong></h1>
<% @tasks.each do |task| %>

<div class="task-div">
  <ul class="task-list">
  <li class="my-task-name"><strong><%= link_to task.project.name, project_path(task.project) %></strong></li>
    <li class="task-task-header">Task:</li>
    <br>
    <li>  <p class="task-name <%=task.state == 'completed' ? 'strike' : ""  %>" id='<%= task.id %>'><%= task.name %></p></li>
    <li><button  type="button" class="btn btn-default btn-sml complete" data-id='<%= task.id %>' data-projectid='<%= task.project_id %>' >Mark as Complete</button></li>
  </ul>
</div>


<% end %>


<div id="bottom-buttons">
<%= link_to '<button type="button" class="btn btn-default btn-sml my-task-buttons">Browse Projects</button>'.html_safe, projects_path %>
<%= link_to '<button type="button" class="btn btn-default btn-sml my-task-buttons">Dashboard</button>'.html_safe, dashboard_path %>
</div>
</body>
