<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-div">
    <div class="entire-form">
      <div class="field">
        <h4 class="name-label"><%= f.label :name %></h4><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :summary %><br>
        <%= f.text_area :summary %>
      </div>
      <div class="field">
        <%= f.label :location %><br>
        <%= f.text_field :location %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
       <%= link_to '<button type="button" id="back-button" class="btn btn-default btn-sml buttons">Back</button>'.html_safe, projects_path %>
    </div>
  </div>
<% end %>
